.mat-card {
  margin: 0 auto;
  max-width: 500px;
  width: 80%;
}

.mat-card-title {
  margin-top: 16px;
}

.mat-form-field {
  width: 100%;
}

.centered {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-content-wrapper {
  margin: 0 auto;
  width: 80%;
}
