@use "@angular/material" as mat;
@import "./variables";

$app-typography: mat.define-typography-config(
  $font-family: "Nunito"
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn
    ),
    typography: $app-typography
  )
);
