@import "../../../variables";

::ng-deep
  .cdk-virtual-scroll-orientation-vertical
  .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.gamelist-viewport {
  // title: 34px - 4px + 8px = 38px
  // subtitle: 20px - 4px + 16px = 32px
  // launch button: 64px + 16px + 16px = 96px
  // 38px + 32px + 96px = 166px
  height: calc(100% - 166px);
  width: 100%;
}

.header-row {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding-left: 8px;
  white-space: nowrap;
  width: 100%;
}

.header-spacer {
  flex: 1 1 auto;
}

.launch-game-button {
  background: radial-gradient(
    at -10% -10%,
    lighten($primary-color, 5%),
    darken($primary-color, 10%)
  );
  bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  height: 64px;
  // width of button is 80%
  // so margin on left side is 10% (half of the remaining 20%)
  // then subtract 16px but the button is already moved 16 pixels to the right because of the card's padding
  margin-left: calc(10% - 16px);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.mat-card {
  border-radius: 6px;
  // 16px margin-top, 16px padding-top, 16px padding-bottom, 16px margin-bottom
  height: calc(100% - 64px);
  margin-top: 16px;

  .mat-card-subtitle {
    height: 20px;
    margin-bottom: 0;
  }

  .mat-card-title {
    height: 34px;
  }

  .mat-divider-horizontal {
    margin-left: 8px;
    width: calc(100% - 16px);
  }
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-ripple,
::ng-deep .mat-list-base .mat-list-option .mat-list-item-ripple {
  border-radius: 8px;
}

.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar,
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  border-radius: 0;
  height: 64px;
  width: 64px;
}

.mat-list-base .mat-list-option {
  font-size: 18px;
  font-weight: bold;
  // height must equal cdk-virtual-scroll-viewport itemSize
  height: 76px;
}

.mat-list-option[aria-selected="true"],
.mat-list-item.mat-selected {
  background: radial-gradient(
    at -10% -10%,
    lighten($primary-color, 5%),
    darken($primary-color, 10%)
  );
  border-radius: 8px;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  border-radius: 8px;
}

.responsive-layout-grid-wrapper {
  height: 100%;
  overflow: auto;
}
