$list-option-tile-size: 64px;
$list-option-tile-margin: 6px;
$launch-button-height: 64px;
$card-height: calc(
  100% - 32px - 16px - 16px
); // 2 * 16px padding, 16px margin-top, 16px margin-bottom

.mat-card {
  border-radius: 6px;
  color: white;
  margin-top: 16px;
  height: $card-height;
}

.mat-card-title {
  height: 34px; // margin-top: -4px, margin-bottom: 8px
  width: calc(100% - 40px - 40px);
}

.mat-card-subtitle {
  height: 20px; // margin-top: -4px, margin-bottom: 16px
  width: calc(100% - 40px - 40px);
}

.mat-card .mat-divider-horizontal {
  width: calc(100% - 16px);
  left: 8px;
}

.mat-selection-list {
  // title: 34px - 4px + 8px = 38px
  // subtitle: 20px - 4px + 16px = 32px
  // launch button: 64px + 16px + 16px = 96px
  height: calc(100% - 38px - 32px - 96px);
}

.mat-list-base .mat-list-option {
  // height must equal cdk-virtual-scroll-viewport itemSize
  height: calc($list-option-tile-size + (2 * $list-option-tile-margin));
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

::ng-deep
  .cdk-virtual-scroll-orientation-vertical
  .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-ripple,
::ng-deep .mat-list-base .mat-list-option .mat-list-item-ripple {
  border-radius: 8px;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  border-radius: 8px;
}

.mat-list-option[aria-selected="true"],
.mat-list-item.mat-selected {
  border-radius: 8px;
  background: radial-gradient(at -10% -10%, lighten(green, 10%), green);
}

.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar,
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  border-radius: 0;
  width: $list-option-tile-size;
  height: $list-option-tile-size;
}

::ng-deep .mat-snack-bar-container {
  color: rgba(255, 255, 255, 0.87);
  background-color: #424242;
}

.responsive-layout-grid-wrapper {
  height: 100%;
  overflow: auto;
}

.credits-button {
  float: right;
  height: 40px;
  width: 40px;
}

.filter-games-button {
  float: right;
  height: 40px;
  width: 40px;
}

.gamelist-viewport {
  height: 100%;
  width: 100%;
}

.launch-game-button {
  width: 80%;
  margin-left: calc(10% - 16px);
  height: 64px;
  position: absolute;
  bottom: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
  background: radial-gradient(at -10% -10%, lighten(green, 10%), green);
}
