@import "../../../variables";

$list-option-tile-margin: 6px;
$list-option-tile-size: 64px;

$card-height: calc(
  100% - 64px
); // 2 * 16px padding, 16px margin-top, 16px margin-bottom

.mat-card {
  border-radius: 6px;
  height: $card-height;
  margin-top: 16px;

  .mat-divider-horizontal {
    left: 8px;
    width: calc(100% - 16px);
  }
}

.mat-card-title {
  height: 34px;
  width: calc(100% - 40px - 40px);
}

.mat-card-subtitle {
  height: 20px;
  width: calc(100% - 40px - 40px);
}

.mat-selection-list {
  // title: 34px - 4px + 8px = 38px
  // subtitle: 20px - 4px + 16px = 32px
  // launch button: 64px + 16px + 16px = 96px
  height: calc(100% - 166px);
}

.mat-list-base .mat-list-option {
  font-size: 18px;
  font-weight: bold;
  // height must equal cdk-virtual-scroll-viewport itemSize
  height: calc($list-option-tile-size + (2 * $list-option-tile-margin));
}

::ng-deep
  .cdk-virtual-scroll-orientation-vertical
  .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-ripple,
::ng-deep .mat-list-base .mat-list-option .mat-list-item-ripple {
  border-radius: 8px;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  border-radius: 8px;
}

.mat-list-option[aria-selected="true"],
.mat-list-item.mat-selected {
  background: radial-gradient(
    at -10% -10%,
    lighten($primary-color, 5%),
    darken($primary-color, 10%)
  );
  border-radius: 8px;
}

.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar,
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  border-radius: 0;
  height: $list-option-tile-size;
  width: $list-option-tile-size;
}

.responsive-layout-grid-wrapper {
  height: 100%;
  overflow: auto;
}

.credits-button {
  float: right;
  height: 40px;
  width: 40px;
}

.filter-games-button {
  float: right;
  height: 40px;
  width: 40px;
}

.gamelist-viewport {
  height: 100%;
  width: 100%;
}

.launch-game-button {
  background: radial-gradient(
    at -10% -10%,
    lighten($primary-color, 5%),
    darken($primary-color, 10%)
  );
  bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  height: 64px;
  margin-left: calc(10% - 16px);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
