<div class="responsive-layout-grid-wrapper">
  <mat-card>
    <div class="header-row">
      <div>
        <mat-card-title>{{ contentGroup.name }} Games</mat-card-title>
        <mat-card-subtitle
          >{{ gameListFiltered.length }} Titles</mat-card-subtitle
        >
      </div>
      <span class="header-spacer"></span>
      <button
        mat-icon-button
        (click)="openCreditsDialog()"
        aria-label="Open Credits Dialog"
      >
        <mat-icon>copyright</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="homeTitle !== null"
        (click)="launchTitle(homeTitle)"
        aria-label="Launch Home Title"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="filterMenu"
        aria-label="Filter Game List"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-menu #filterMenu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngFor="let contentGroup of contentGroups"
          (click)="setContentGroup(contentGroup)"
        >
          {{ contentGroup.name }}
        </button>
      </mat-menu>
    </div>
    <cdk-virtual-scroll-viewport itemSize="76" class="gamelist-viewport">
      <mat-selection-list
        #gamesList
        (selectionChange)="selectGame($event)"
        [multiple]="false"
      >
        <mat-divider></mat-divider>
        <mat-list-option
          *cdkVirtualFor="let game of gameListFiltered"
          [value]="game"
        >
          <img
            matListAvatar
            alt="{{ !!game.titleName ? game.titleName : 'Missing' }} Tile Art"
            src="{{
              !!game.art.tile ? game.art.tile : '/assets/Chrisdesign_CD_DVD.svg'
            }}"
          />
          <div mat-line>
            {{ game.titleName }}
          </div>
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>
    <button
      mat-flat-button
      (click)="launchTitle(game!)"
      [disabled]="game === null"
      class="launch-game-button"
      color="primary"
    >
      {{ !!game?.titleName ? "Launch " + game?.titleName : "Select a Game" }}
    </button>
  </mat-card>
</div>
